.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
}

.header {
    padding: 20px;
    text-align: center;
    background: #007bff;
    color: white;
    font-size: 30px;
}

.container {
    /* remember to set a width */
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th {
    height: 20px;
    text-align: center;
}
